<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add music</title>
</head>
<body>
  <form method="post">
    <label>
      Zene cime:
    </label>
    <input type="text" name="title"><br>
    <label>
      Zene írója:
    </label>
    <input type="text" name="artist"><br>
    <label>
      Zene hossza:
    </label>
    <input type="number" name="length"><br>
    <button type="submit">Submit</button>
  </form>
</body>
</html>
